<!--Modal thêm đơn hàng xuất-->
<div class="modal fade" id="modalThemDonHangXuat" tabindex="-1" role="dialog" aria-labelledby="modalThemDonHangXuat" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="labelThemDonHangXuat">Thêm đơn hàng xuất</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--Gắn form vào đây-->
                <form class="row" id="themDonHangXuatForm" method="post" action="/don-hang-xuat/them">
                    <div class="form-group row col-md-12 mb-0">
                        <label class="col-md-3 col-form-label">Người lập đơn:</label>
                        <input class="form-control col-md-4" type="text" readonly id="inputNguoiLapDon">
                    </div>
                    <div class="form-group row col-md-12 mb-0">
                        <label class="col-md-3 col-form-label">Ngày lập đơn:</label>
                        <input class="form-control col-md-4" type="text" readonly id="inputNgayHienHanh">
                    </div>
                    <div class="form-group row col-md-12 mb-0">
                        <label class="col-md-3 col-form-label">Ngày xuất:</label>
                        <input class="form-control col-md-4" type="date" name="ngayXuat" required>
                    </div>
                    <div class="form-group row col-md-12 mb-0">
                        <label class="col-md col-form-label">Chi tiết đơn:</label>
                        <div class="col-md-2 pl-auto justify-content-end row">
                            <span>
                                <button type="button" class="text-danger btn btn-light font-weight-bold" onclick="deleteTableRow()">-</button>
                            </span>

                            <span>
                                <button type="button" class="text-success btn btn-light font-weight-bold" onclick="addTableRow()">+</button>
                            </span>
                        </div>
                        <div class="col-md-12 pr-0">
                            <table class=" table table-striped" id="tableChiTietDon">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mặt hàng</th>
                                        <th>Ngày nhập</th>
                                        <th>Ngày hết hạn</th>
                                        <th>Số lượng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <select name="maSo" required>
                                                <option></option>
                                            </select>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <input type="number" name="soLuong" min="1" required>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" form="themDonHangXuatForm" class="btn btn-success" id="btnXacNhanThem">Thêm</button>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <h1 class="col-lg-5 pl-4 text-dark">Đơn hàng xuất</h1>
        <div class="col-lg-7 row justify-content-end pr-0">
            <button class="btn btn-success col-4 my-1 <!--h-50 my-auto-->" data-target="#modalThemDonHangXuat" data-toggle="modal" id="btnThemDonHangXuat">Thêm đơn hàng xuất</button>
        </div>
        {{!-- <button class="btn btn-success h-50 my-auto" data-target="#modalThemDonHangXuat" data-toggle="modal" id="btnThemDonHangXuat">Thêm đơn hàng xuất</button> --}}
    </div>
    {{!--
    <div class="row">
        <div class="btn-group form-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Nhập</button>
            <button type="button" class="btn btn-secondary">Xuất</button>
        </div>
    </div> --}}
    <!--Mỗi đơn hàng là 1 card-->
    {{#each dsDonHangXuat}}
    <div class="card row mt-3 mx-auto">
        <h4 class="card-header">
            #{{maDonHang}}
        </h4>
        <div class="card-body">
            <span>Người lập: </span>
            <span>{{hoTen}}</span>
            <br>
            <!--Ngày nhập/xuất khác với ngày tạo đơn-->
            <span>Trạng thái: </span>
            <span class="badge badge-{{#equal trangThai "Đã hoàn thành" }}success{{/equal}}{{#equal trangThai "Chưa hoàn thành" }}danger{{/equal}}">{{trangThai}}</span>
            <br>
            <span>Ngày lập: </span>
            <span>{{ngayLapDon}}</span>
            <br>
            <span>Ngày xuất:</span>
            <span>{{ngayXuat}}</span>
            <!--Bảng chi tiết đơn hàng-->
            <table class="table" style="margin: 20px 0px 20px;">
                <tr>
                    <th>STT</th>
                    <th>Hàng hóa</th>
                    <th>Đơn vị</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </tr>
                {{#each chiTietDonHangXuat}}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{tenHangHoa}}</td>
                    <td>{{donVi}}</td>
                    <td>{{soLuong}}</td>
                    <td>{{donGia}}</td>
                    <td>{{thanhTien}}</td>
                </tr>
                {{/each}}
                <tr>
                    <td colspan="5">Tổng:</td>
                    <td>{{tongTien}}</td>
                </tr>
            </table>
            <div class="form-group mt-2">
                <button class="btn btn-success ">Chỉnh sửa</button>
                <button class="btn btn-danger ">Xóa</button>
            </div>
        </div>
    </div>
    {{/each}}
