<div class="container">
    <div class="row">
        <h1>Đơn hàng nhập</h1>
    </div>
    <div class="row">
        <button class="btn btn-success col-2 ml-3 mb-3" type="button" data-toggle="modal" data-target="#them-don-hang">Thêm đơn nhập</button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="them-don-hang" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Thêm đơn nhập</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--Mỗi đơn hàng là 1 card-->
    {{#each dsDonNhap}}
    <div class="card row" style="margin-bottom: 20px;">
        <h4 class="card-header">
            #{{this.maDonHang}}
        </h4>
        <div class="card-body">
            <span>Ngày lập: </span>
            <span>{{this.ngayLapDon}} </span>
            <br>
            <span>Người lập: </span>
            <span>{{this.nguoiLap}}</span>
            <br>
            <span>Trạng thái: </span>
            <span class="badge badge-{{#equal this.trangThai "Đã hoàn thành" }}success{{/equal}}{{#equal this.trangThai "Chưa hoàn thành" }}danger{{/equal}}">{{this.trangThai}}</span>
            <!--Bảng chi tiết đơn hàng-->
            <table class="table" style="margin: 20px 0px 20px;">
                <tr>
                    <th>STT</th>
                    <th>Hàng hóa</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </tr>
                {{#each this.dsHangHoa}}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{this.tenHangHoa}}</td>
                    <td>{{this.soLuong}} {{this.donVi}}</td>
                    <td>{{this.donGia}}</td>
                    <td>{{this.thanhTien}}</td>
                </tr>
                {{/each}}
                <tr>
                    <td colspan="4">Tổng:</td>
                    <td>{{this.tongTien}}</td>
                </tr>
            </table>
            <!--Ngày nhập/xuất khác với ngày tạo đơn-->
            <span>Ngày nhập:</span>
            <span>{{this.ngayNhap}}{{#unless this.ngayNhap}}Trống{{/unless}}</span>

        </div>
    </div>
    {{/each}}
</div>