
    <div class="container">
        <h3>Danh sách nhân viên</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Username</th>
                    <th scope="col">Tên nhân viên</th>
                    <th scope="col">SĐT</th>
                    <th scope="col">Kho làm việc</th>
                    <th scope="col">Vai trò</th>
                </tr>
            </thead>
            <tbody>
                {{#each dsNhanVien}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{this.tenTaiKhoan}}</td>
                    <td>{{this.hoTen}}</td>
                    <td>{{this.sdt}}</td>
                    <td>{{this.tenKhoHang}} - {{this.diaChi}}</td>
                    <td>{{#if this.maQuanLy}}Nhân viên{{else}}Quản lý{{/if}}</td>
                </tr>
                {{/each}}
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-success btn-block" onclick="themFormNhanVien()">Thêm nhân viên</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Optional JavaScript -->
    <script>
        function themFormNhanVien() {
            let listTd = document.getElementsByTagName('tbody');
            let temp = document.createElement('tr');
            temp.innerHTML =
                `<th scope="row">${listTd[0].children.length}</th>
            <td>
                <form action="">
                    <div class="form-group">
                        <input type="text" name="" id="tennhanvien" class="form-control" value='' placeholder='Nhập username nhân viên' >
                    </div>
                </form>
            </td>
            <td>
            </td>
            <td>
                <form action="">
                    <div class="form-group">
                        <select class="form-control" name="vitrilamviec" id="">
                            <option>Shop Hoa Nguyễn Đình Chiểu</option>
                            <option>Family Mart Bình Thạnh</option>
                            <option selected>{Không}</option>
                        </select>
                    </div>
                </form>
            </td>
            <td>
                <form action="">
                    <div class="form-group">
                        <select class="form-control" name="quyen" id="">
                            <option>Quản Lý</option>
                            <option>Nhân Viên</option>
                            <option selected>{Không}</option>
                        </select>
                    </div>
                </form>
            </td>`;
            listTd[0].appendChild(temp);
            listTd[0].removeChild(listTd[0].children[listTd[0].children.length - 2])
            let temp2 = document.createElement('tr');
            temp2.innerHTML =
                `<td></td>
            <td>
                <button class="btn btn-success btn-block" onclick="themNhanVien()">Xác nhận</button>
            </td>`
            listTd[0].appendChild(temp2)
        }
        function themNhanVien(){
            //gọi axas để đẩy dữ liệu về server
        }
    </script>